{% extends 'admin.html.twig' %}

{% block title %}Liste des dons
{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Civilité</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Email</th>
				<th>Téléphone</th>
				<th>Dons</th>
				<th>Status</th>
				<th>Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for don in dons %}
				<tr>
					{% if don.civility == 'CIVILITE-MME' %}
						<td><i class='fas fa-female' style='font-size:24px'></i> Mme</td>
					{% elseif don.civility == 'CIVILITE-MLLE' %}
						<td><i class='fas fa-female' style='font-size:24px'></i> Mlle</td>
					{% elseif don.civility == 'CIVILITE-M' %}
						<td><i class='fas fa-male' style='font-size:24px'></i> Mr.</td>
					{% else %}
						<td></td>
					{% endif %}
					<td>{{don.lastname}}</td>
					<td>{{don.firstname}}</td>
					<td>{{don.email}}</td>
					{% if don.mobilePhone %}
						<td>0{{don.mobilePhone}}</td>
					{% else %}
							<td></td>
					{% endif %}
					{% if don.amountFree %}
						{% set montant = don.amountFree %}
					{% else %}
						{% set montant = don.amountOnce %}
					{% endif %}
					<td> <strong>{{montant}} €</strong></td>
					{% if don.status == 'PAID' %}
						<td><span class="w3-text-green"><strong>{{don.status}}</strong></span></td>
					{% else %}
						<td><span class="w3-text-red"><strong>{{don.status}}</strong></span></td>
					{% endif %}
					<td>{{don.createdAt|date('d/m/Y')}}</td>
					<td>
						<div class="w3-dropdown-hover">
							<button class="w3-button">Action</button>
							<div class="w3-dropdown-content w3-bar-block w3-card-4">
								<a href="#" class="w3-bar-item w3-button">
									<i class="fa fa-eye"></i> Voir
								</a>
								<a href="{{ path('admin_dons_edit',  {'id': don.id}) }}" class="w3-bar-item w3-button">
									<i class="fa fa-edit"></i> Modifier
								</a>
								<a href="#" class="w3-bar-item w3-button">
									<i class="fa fa-trash"></i> Supprimer
								</a>
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
