{% extends 'admin.html.twig' %}

{% block title %}Liste des dons
{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Civilité</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Email</th>
				<th>Téléphone</th>
				<th>Dons</th>
				<th>Status</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for don in dons%}
				<tr>
					<td>
						{% if don.civility == 'CIVILITE_MONSIEUR' %}
							<i class='fas fa-male' style='font-size:24px'></i>
						{% else %}
							<i class='fas fa-female' style='font-size:24px'></i>
						{% endif %}
					</td>
					<td>{{don.lastname}}</td>
					<td>{{don.firstname}}</td>
					<td>{{don.email}}</td>
					<td>{{don.mobilePhone}}</td>
					{% if don.amountFree %}
						{% set montant = don.amountFree %}
					{% else %}
						{% set montant = don.amountOnce %}
					{% endif %}
					<td>{{montant}}</td>
					<td>{{don.status}}</td>
					<td>{{don.createdAt|date('d/m/Y')}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
