{% extends 'base.html.twig' %}

{% block title %}Faire un don!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/donate/style.css') }}" />
{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="w3-row">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'payment-form'}}) }}
                <!--MON DON -->
                <div class="w3-col s3">
                    <div class="w3-section size">
                        <header class="w3-container w3-green">
                            <h3>1. MON DON</h3>
                        </header>
                        <div id="encart">
                            <fieldset class="amount">
                              <!--  <ul class="radio-inline" id="amount-list-once">
                                    <li>
                                        <label>
                                            <span id="value_of_amount-once-20">20€</span>
                                            <input type="radio" id="donate_amountOnce_0" name="do_donate[amountOnce]" />
{#                                            <input autocomplete="false" type="radio" name="amount-once" value="20" id="amount-once-20">#}
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span id="value_of_amount-once-20">30€</span>
                                            <input type="radio" id="do_donate_amountOnce_1" name="do_donate[amountOnce]"  />
{#                                            <input autocomplete="false" type="radio" name="amount-once" value="30" id="amount-once-30">#}
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span id="value_of_amount-once-20">40€</span>
                                            <input type="radio" id="do_donate_amountOnce_2" name="do_donate[amountOnce]" />
{#                                            <input autocomplete="false" type="radio" name="amount-once" value="40" id="amount-once-40">#}
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span id="value_of_amount-once-20">50€</span>
                                            <input type="radio" id="do_donate_amountOnce_3" name="do_donate[amountOnce]"  />
                                        </label>
                                    </li>
                                </ul>-->
                                {{ form_widget(form.amountOnce) }}
                            </fieldset>
                            <fieldset class="free-amount">
                                <p>
                                    {{ form_label(form.amount_free, ' Montant libre') }}
                                    {{ form_widget(form.amount_free) }}
                                </p>
                            </fieldset>
                        </div>

                        <footer class="w3-container w3-blue">
                            <h5>Footer</h5>
                        </footer>
                    </div>
                </div>
                <!--MES COORDONNEES -->
                <div class="w3-col s5">
                    <div class="w3-section size">
                        <header class="w3-container w3-green">
                            <h3>2. MES COORDONN&Eacute;ES</h3>
                        </header>
                        <div id="encart">
                            <div class="w3-row-padding">
                                <div class="w3-half">
                                    {{ form_label(form.email, 'Email') }}
                                    {{ form_widget(form.email, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
                                    {{ form_errors(form.email) }}
                                </div>
                                <div class="w3-half">
                                    {{ form_label(form.civility, 'Civilité') }}
                                    {{ form_widget(form.civility, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
                                    {{ form_errors(form.civility) }}
                               </div>
                            </div>
                            <div class="w3-row-padding">
                                <div class="w3-half">
                                    {{ form_label(form.firstname, 'Prénom') }}
                                    {{ form_widget(form.firstname, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
                                    {{ form_errors(form.firstname) }}
                                 </div>
                                 <div class="w3-half">
                                    {{ form_label(form.lastname, 'Nom') }}
                                    {{ form_widget(form.lastname, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
                                    {{ form_errors(form.lastname) }}
                                 </div>
                            </div>
                            <div class="w3-row-padding">
                                <div class="w3-half">
                                    {{ form_label(form.address, 'Adresse') }}
                                    {{ form_widget(form.address, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
                                    {{ form_errors(form.address) }}
                                </div>
                                 <div class="w3-half">
                                    {{ form_label(form.address_complement, 'Complément adresse') }}
                                    {{ form_widget(form.address_complement, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
                                </div>
                            </div>
                            <div class="w3-row-padding">
                                <div class="w3-half">
                                    {{ form_label(form.postal_code, 'Code postal') }}
                                    {{ form_widget(form.postal_code, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
                                    {{ form_errors(form.postal_code) }}
                                </div>
                                <div class="w3-half">
                                    {{ form_label(form.city, 'Ville') }}
                                    {{ form_widget(form.city, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
                                    {{ form_errors(form.postal_code) }}
                                </div>
                            </div>
                             <div class="w3-row-padding">
                                <div class="w3-half">
                                    {{ form_label(form.country, 'Pays') }}
                                    {{ form_widget(form.country, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
                                </div>

                                <div class="w3-half">
                                    {{ form_label(form.mobile_phone, 'Téléphone') }}
                                    {{ form_widget(form.mobile_phone, {'attr': {'class': 'w3-input w3-border w3-round'}}) }}
                                </div>
                             </div>
                            <div class="w3-padding">
                                {{ form_label(form.receive_info, 'Oui, j\'accepte de recevoir des informations de Yattim-mr par e-mail et téléphone') }}
                                {{ form_widget(form.receive_info, {'attr': {'class': 'w3-check'}}) }}
                            </div>
                            <p class="w3-padding">
                                <span style="color: #ff0000; font-weight: bold">*</span> Champs obligatoires (ces informations sont indispensables pour bénéficier de votre réduction fiscale)
                            </p>
                        </div>
                        <footer class="w3-container w3-blue">
                            <h5>Footer</h5>
                        </footer>
                    </div>
                </div>
                <!--MON REGLEMENT -->
                <div class="w3-col s4 ">
                    <div class="w3-section size">
                        <header class="w3-container w3-green">
                            <h3>3. MON R&Egrave;GLEMENT</h3>
                        </header>
                    <div id="encart">
                        <div class="step-content">
                            <div class="recall">
                                <p>Vous allez faire un <span class="strong">
                                        don unique de
                                        <span class="donation">0 EUR</span>
                                    </span></p>
                            </div>

                            <div id="security-info">
                                <p>Plateforme de paiement 100% sécurisée</p>
                            </div>
                            <div class="w3-panel w3-blue">
                                <strong>Entrez vos informations bancaires.</strong>
                            </div>
                            {{ render(controller(
                                'App\\Controller\\StripeController::stripe', { 'amount': 3000 }
                            )) }}
                        </div>
                        {#<button type="submit" class="w3-btn w3-blue">Je confirme mon don</button>#}
                    </div>
                       <footer class="w3-container w3-blue">
                            <h5>Footer</h5>
                        </footer>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('document').ready(function (){
            /*$('#payment-form input').on('change', function() {
                alert($('input[name=do_donate[amountOnce]]:checked', '#payment-form').val());
            });*/
            $("input[type=radio]").change(function() {
                let val = $(this).val()
                $(".recall .donation").text(val+' EUR');
            });
        });
    </script>
{% endblock %}